
/* Specific container to hold the phone image and login card */
/* It also uses flexbox but aligns items to the top */
.login__wrapper {
    display: flex;
    align-items: flex-start; /* Align children to the top */
    margin-top: 30px; /* Add some space at the top */
  }
  
  /* Style for the phone image */
  /* Explicitly aligned to the top and has specific dimensions */
  .app__phoneImage {
    align-self: flex-start; /* Align to the top within flex container */
    width: 350px; /* Fixed width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 30px; /* Add some space to the right */
  }
  