@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


* {
  box-sizing: border-box;
}
html {
  font-size: 16px; /* Sets the base font size for the document */
}


body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6; /* Sets the default line height */
  color: #333; /* Sets the default text color */
  margin: 0;  /* Removes default margins */
  padding: 0; /* Removes default padding */
  background-color : #ffffff; /* Sets the background color for the entire page */
  height: 100v ;
}